body,
html {
  width: 100%;
  heigth: 100%;
  padding: 0x;
  margin: 0;
}
.axisLaeyr .xAxis .domain,
.axisLaeyr .xAxis .tick > line {
  display: none;
}
.axisLaeyr .yAxis .domain,
.axisLaeyr .yAxis .tick > line {
  display: none;
}
.axisLaeyr .yGrid .domain {
  display: none;
}
.axisLaeyr .yGrid .tick > line {
  stroke-dasharray: 3;
}
.button {
  width: 100%;
}
.button button {
  display: block;
  width: 100px;
  height: 50px;
  margin: 0 auto;
}

/* 
other styles

html, body 
	width 100%
	heigth 100%
	padding 0x
	margin 0px


.axisLaeyr
	.xAxis
		.domain, .tick > line
			display none
	
	.yAxis
		.domain
		.tick > line
			display none
		
	.yGrid
		.domain
			display none
		.tick > line
			stroke-dasharray 3

.button
	width 100%;

	button
		display block
		width 100px
		height 50px
    margin 0 auto
     */
